<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Easy-Shop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div style="height:98px;"></div>
    <div class="fixed-top" style='z-index: 1;background-color: #ed3418;transition: background-color 0.5s;'>
      <!-- <div id='dim' style='position:absolute;z-index:100;width:100%; height:100%;background-color: black; opacity:0; display:block;'></div> -->
      <div style="height:50px;  color:white;text-align: center;"><h1 style="margin:0"><strong>Easy-Shop</strong></h1></div>
      <nav class="navbar navbar-expand-sm navbar-dark" style=" color:yellow;padding-top:0px">
        <a class="navbar-brand" href="/">HOME</a>
            <!-- stub for future features -->
            <!-- <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add Meals/Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Browse Meals</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Friends</a>
                  </li>
                </ul>
                <ul class=" navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" href="#">Login</a>
                  </li>
                </ul> -->

            {% block nav_block %}
            {% endblock %}
        </nav>
    </div>

      {% block body_block %}
      {% endblock %}

    
  </body>
</html>