{% extends 'base.html'%}
{%block body_block%}
<div class="container">
    <h1>Shopping List</h1>
    <ul class='checklist' id="myUL">
        {% csrf_token %}
        {% for item in cart%}
        <li class='item'>{{item.name}}, quantity - {{item.quantity}}</li>
        {% endfor %}
    </ul>    
</div>

<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_todo -->
<style>    
    /* Style the list items */
     .item {
      cursor: pointer;
      position: relative;
      padding: 12px 8px 12px 40px;
      list-style-type: none;
      background: #eee;
      font-size: 18px;
      transition: 0.2s;
      
      /* make the list items unselectable */
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Set all odd list items to a different color (zebra-stripes) */
    .item:nth-child(odd) {
      background: #f9f9f9;
    }
    
    /* Darker background-color on hover */
    .item:hover {
      background: #ddd;
    }
    
    /* When clicked on, add a background color and strike out text */
    .item.checked {
      background: #888;
      color: white;
      text-decoration: line-through;
    }
    
    /* Add a "checked" mark when clicked on */
    .item.checked::before {
      content: '';
      position: absolute;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
    }
    
    /* Style the close button */
    .close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 12px 16px 12px 16px;
    }
    
    .close:hover {
      background-color: #f44336;
      color: white;
    }
</style>
<script>
    var cart=JSON.parse('{{cart}}'.replace(/&#x27;/g,'"'));

    // Create a "close" button and append it to each list item
    // var myNodelist = document.getElementsByTagName("LI");
    var myNodelist =document.getElementsByClassName("item")
    var i;
    for (i = 0; i < myNodelist.length; i++) {
        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        myNodelist[i].appendChild(span);
    }

    // Click on a close button to hide the current list item
    var close = document.getElementsByClassName("close");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function() {
            var div = this.parentElement;
            div.style.display = "none";
            text=this.parentElement.innerText;
            item = (text).split(',')[0];
            removeFromCartDictCookie(item);
            document.cookie= "selectedMeals=;expires=Thu, 01 Jan 1970 00:00:00 UTC;path=/";
        }
    }

    // Add a "checked" symbol when clicking on a list item
    var list = document.querySelector('.checklist');
    list.addEventListener('click', function(ev) {
        if (ev.target.tagName === 'LI') {
            ev.target.classList.toggle('checked');
            text = ev.target.innerText;
            item = (text).split(',')[0];
            quantity = text.split('- ')[1].split('\n')[0];
            if (ev.target.className=='checked'){
              removeFromCartDictCookie(item);
              document.cookie= "selectedMeals=;expires=Thu, 01 Jan 1970 00:00:00 UTC;path=/";
            }
            else{
              addToCartDictCookie(item, quantity);    
            }
          }
    }, false);
</script>
{%endblock%}